* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

button {
    margin-left: 710px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background: none;
    align-items: center;
}